/* impoet google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    font-family: 'Lato', sans-serif;

}
/* start header */

header{
    /* height: 90vh; */
    background-image: url(image/header-bg.jpg);
    background-position:top;
    background-repeat: no-repeat;
}
.logo{
    height: 1.5rem;
}
.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    padding: 3px 6px;
    border-radius: 1.5rem;
    font-weight: 500;
}
.nav-link:hover{
    background-color: #ffc61a;
}
/* header info */
.header-info{
    margin-top: 6%;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 4%;
}
.header-info h3{
    color: #ffc61a;
    font-weight: 800;
}
.header-info h1{
    font-size: 55px;
    font-weight: 800;
}
.header-info p{
    font-size: 12px;
    letter-spacing: 14px;
}
.header-car{
    width: 900px;
}

/* end header */


/* start booking */
#booking{
    height: 70vh;
    background-color: #ffc61a;
    margin-top: -110px;
    
}
.bookingbox{
    padding-top: 150px;
}

.booking-dtls{
    
}

.booking-dtls h3{
    text-transform: uppercase;
    font-weight: 800;
}
.booking-dtls p{
    width: 90%;
    text-align: justify;
}
.booking-dtls a{
    text-transform: uppercase;
    font-weight: 800;
}
.booking-dtls h2{
    text-transform: uppercase;
    font-weight: 900;
}

.bookAcap{
    background-color: #fff;
    text-align: left;
}
.bookAcap h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    padding: 8px 0px 8px 12px;
    background-color: #171717;
    color: #fff;
}
.bookAcap h2 span{
    color: #ffc61a;
}
.inputBox{
    outline: none;
    border: none ;
    background: none;
    margin: 3px 0px 3px 5px;
    /* background-color: #ffc61a; */
    padding: 5px 3px;
    border-bottom: 1px solid #171717;
    width: 95%;
}
.submitbtn{
    display: inline;
}
/* end booking */

